.list__container{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.list__content{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  height: 8rem;
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  background: var(--color-secondary);
justify-content: space-between;
}
.list__image{
  width: 8rem;
  height: 100%;
  object-fit: cover;
}
.list__title{
  font-size: 1.2rem;
}
.list__button{
display: flex;
gap: 1rem;
padding-inline: 1rem;
}

.list__container > button, .list__button > button{
  width: 5rem;
  font-size: 2rem;
}
